<div>
    <div>
        <div>
            <input type="text" >
        </div>
        <!-- search box -->
    </div>
    <div>
        @for (todo of todoList; track todo.id) {
            <div class="todobox">
                <h3>{{todo.title}}</h3>
                <p>{{todo.description}}</p>
                <span (click)="openAddEditPopup(todo, true)" class="material-symbols-outlined">edit</span>
                <span class="material-symbols-outlined">delete</span>
            </div>
        }
    </div>
</div>